
{% extends "base.html" %}

{% block content %}

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT>
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
            <!--<div class="row">-->
                <div class="col-md-12 col-sm-12">
                    <div class="tile is-ancestor">

                    </div>

                    <div class="tile is-ancestor m-4 p-4">
                        <div class="tile is-ancestor">
                            <div class="tile is-4 is-vertical is-parent">
                                <article class="tile is-child notification text-justify is-warning">
                                    <p class="title">Accidentalidad en Bogota</p>
                                    <p>En Bogotá ocurre un siniestro vial cada <strong>5,6 minutos</strong> según los datos del <strong>de Gestión de Tránsito - CGT</strong> y la <strong>
                                    Secretaría de Movilidad</strong>, en cifras tomadas entre Enero y Septiembre de 2019 se presentaron 726 homicidios y 393 muertes por accidentes de 
                                    tránsito.</p>
                                    <div class="col-md-12 col-sm-12 container mx-aut d-block text-center">
                                        <img src="https://www.eltiempo.com/contenido///bogota/IMAGEN/IMAGEN-16431703-2.png" class="rounded mx-auto d-block" alt="Fuente, El Tiempo">
                                        <p>Fuente. El Tiempo</p>
                                    </div>
                                </article>
                                <article class="tile is-child notification is-success text-justify">
                                    <p class="title">¿Que se necesita?</p>
                                    <p>Lo anterior nos permite abrir diferentes incógnitas como por ejemplo que influencia posee un conductor y el tipo de su vehículo en un accidente vehículo, 
                                    la hora en que se presentan la mayor cantidad de accidentes de tráfico en Bogotá entre otros, por lo cual se propone realizar mediante la ciencia de Datos 
                                    un análisis estadístico para hallar este tipo de datos de interés, y aplicar el resultado del análisis a la inteligencia artificial y los algoritmos de 
                                    <strong>Machine Learning</strong>  para predecir accidentes viales en la ciudad con los datos existentes de los factores incidentes.</p>
                                </darticle>
                            </div>
                            <div class="tile is-parent is- is-vertical">
                                <article class="tile is-child notification is-link text-justify">
                                    <p class="title">Solucion Planteada</p>
                                    <p>Inicialmente para la realización del estudio, se deben recopilar datos referentes a siniestros viales en la ciudad de Bogotá, para ello se debe consultar  fuentes 
                                        de datos relevantes como bases de datos gubernamentales, académicas y de interés que brinden información reciente, posteriormente los datos recopilados deben ser 
                                        organizados, clasificados y depurados.</p>
                
                                        <p>Teniendo en cuenta lo anterior se debe realizar el tratamiento de datos respectivo para asegurar la calidad de los mismos, este procedimiento se llevará a 
                                            cabo mediante el lenguaje de programación Python y las librerías que posee en el campo de la ciencia de datos como lo es la librería Pandas.
                                            La librería Pandas permite el almacenamiento de datos en las estructuras de datos tabulares conocidas como Data Frames, las cuales están compuestas por 
                                            columnas y filas ordenadas que facilitan la manipulación de grandes cantidades de datos.</p>
                
                                        <p>Posteriormente a la realización de la limpieza de los datos, se realizarán cálculos estadísticos para evidenciar información relevante en este tema de 
                                            estudio, esta información estará acompañada de gráficos estadísticos para facilitar la visualización y entendimiento  de los mismos, para ello serán de 
                                            importancia las librerías Matplotlib que permite generar gráficos a partir de datos obtenidos y Numpy para la creación de vectores en los cuales se almacenen 
                                            cierto tipo de datos.</p>
                
                                        <p>El proceso de Visualización de datos brinda una mejor idea sobre aquellos datos con mayor relevancia, los cuales podremos utilizar para la generación de un 
                                            modelo predictivo a partir de la rama de la inteligencia artificial conocida como  machine learning para realizar predicciones de acuerdo a variables 
                                            específicas, entre ellas una posible predicción será la gravedad del siniestro.</p>
                
                                        <p>Finalmente se aplica el modelo obtenido con datos sobre accidentes recientes en diferentes bases de datos de la ciudad para asignar una utilidad al modelo 
                                            realizado, esta etapa es conocida como Despliegue.</p>
                                                            
                                </article>

                                <article class="tile is-child notification is-info text-justify">
                                    <ul class="list-group p-3 m-3 list-group-mine has-text-link">
                                        <li class="list-group-item active">De acuerdo a lo descrito anteriormente la metodología a llevar a cabo será:</li>
                                        <li class="list-group-item">Entendimiento de los datos</li>
                                        <li class="list-group-item">Preparación de los datos</li>
                                        <li class="list-group-item">Visualización de datos</li>
                                        <li class="list-group-item">Modelamiento de los datos</li>
                                        <li class="list-group-item">Evaluación de  los datos</li>
                                        <li class="list-group-item">Despliegue</li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="row mtbox">
                    <div class="col-md-12 col-sm-12">
                        <h1 class="text-primary text-center"></h1>
                    </div>

                    <div>
                        
                        
                        
                    </div>

                        
                        
                        

                        <!--
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                            <div class="box1">
                                        <span class="li_heart"></span>
                                        <h3>933</h3>
                      </div>
                                    <p>Accidentalidad</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_cloud"></span>
                                        <h3>48</h3>
                            </div>
                                      <p>Clima</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_stack"></span>
                                        <h3>23</h3>
                            </div>
                                      <p>Registros</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_news"></span>
                                        <h3>50</h3>
                            </div>
                                      <p>Datos Importantes</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_data"></span>
                                        <h3>OK!</h3>
                            </div>
                                      <p>Registros completos</p>
                        </div>
                        -->

                    </div><!-- /row mt -->

              <!-- **********************************************************************************************************************************************************
              BARRA DERECHA DE NOTOFOCACIONES
              *********************************************************************************************************************************************************** -->

            </div><!--/row -->
        </section>
    </section>
    <!--main content end-->


    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2021 - Jeison Jara - Sebastian Mancera - Universidad Distrital Francisco Jose De Caldas 
            <a href="{{ url_for('accidentalidad.home') }}#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

{% endblock %}