
{% extends "base.html" %}

{% block content %}

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT>
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
            <!--<div class="row">-->
                <div class="col-md-12 col-sm-12">
                    <div class="tile is-ancestor">

                    </div>

                    <div class="tile is-ancestor m-4 p-4">
                        <div class="tile is-ancestor">
                            <div class="tile is-3 is-vertical is-parent">
                                <article class="tile is-child notification is-danger text-justify">
                                    <p class="title">LUGAR</p>
                                    <p class="title">Analisis</p>
                                    <p>Como es evidente en la grafica, el lugar donde mas suceden accidetes es en los <strong> de las vias</strong>, seguido por las intersecciones, 
                                    estos analisis dejan en claro que estos dos lugares en las vias son donde se presentan el mayor numero de accidentes</p>
                                    <p>Ya las medas alternativas como pasos elevados, lotes o glorietas entre otros presentan bajos indices de accidentalidad.</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box text-justify">
                                    <p class="title">LUGAR</p>
                                    <p>Este analisis permite saber la configuracion del lugar, pues este aspecto tambien es importante a la hora de identificar
                                        las estadisticas de los accidentes, pues logran realizar modificaciones a ciertos sistios donde se presenten gran numero de accidentes.
                                    </p>
                                    <div class="col-md-12 col-sm-12 container mx-aut d-block text-center">
                                        <img src="{{ url_for('static', filename='images/Diseño_Lugar.jpg') }}" class="rounded mx-auto d-block" alt="">
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="row mtbox">
                    <div class="col-md-12 col-sm-12">
                        <h1 class="text-primary text-center"></h1>
                    </div>

                    <div>
                        
                        
                        
                    </div>

                        
                        
                        

                        <!--
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                            <div class="box1">
                                        <span class="li_heart"></span>
                                        <h3>933</h3>
                      </div>
                                    <p>Accidentalidad</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_cloud"></span>
                                        <h3>48</h3>
                            </div>
                                      <p>Clima</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_stack"></span>
                                        <h3>23</h3>
                            </div>
                                      <p>Registros</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_news"></span>
                                        <h3>50</h3>
                            </div>
                                      <p>Datos Importantes</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_data"></span>
                                        <h3>OK!</h3>
                            </div>
                                      <p>Registros completos</p>
                        </div>
                        -->

                    </div><!-- /row mt -->

              <!-- **********************************************************************************************************************************************************
              BARRA DERECHA DE NOTOFOCACIONES
              *********************************************************************************************************************************************************** -->

            </div><!--/row -->
        </section>
    </section>
    <!--main content end-->


    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2021 - Jeison Jara - Sebastian Mancera - Universidad Distrital Francisco Jose De Caldas 
            <a href="{{ url_for('accidentalidad.home') }}#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

{% endblock %}