
{% extends "base.html" %}

{% block content %}

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT>
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
            <!--<div class="row">-->
                <div class="col-md-12 col-sm-12">
                    <div class="tile is-ancestor">

                    </div>

                    <div class="tile is-ancestor m-4 p-4">
                        <div class="tile is-ancestor">
                            <div class="tile is-3 is-vertical is-parent">
                                <article class="tile is-child notification is-warning text-justify">
                                    <p class="title">ACCIDENTALIDAD POR LOCALIDAD - DATOS</p>
                                    <p class="title">Analisis</p>
                                    <p>El analisis en esta caso puede llegar a ser mas claro, aunque menos grafico que como sucede con el mapa de localidades, 
                                        aqui observamos que hay tres localidades encabezando la accidentalidad en la ciudad, <strong>Kenedy, Usaque y Engativá,</strong>
                                        segido muy de cerca por <strong>Suba y Fontibon</strong>.
                                        <p>Al otro extremo de los datos se encuentra la localidad de <strong>La Candelaria</strong> que es la que tiene numeros mas bajos en cuanto a niveles de
                                        accidentalidad se refiere, y destaca por que es esta zona difiere bastante con las demas que tiene menos accidentes de transito.</p>
                                    </p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box text-justify">
                                    <p class="title">ACCIDENTALIDAD POR LOCALIDAD - DATOS</p>
                                    <p>El analisis de los datos tambien nos ha permitido generar una grafica de barrar qeu permite evidenciar de otra manera el nivel de accidentalidad
                                        permitiendo visualizar los datos numericos de cada ciudad.
                                    </p>
                                    <div class="col-md-12 col-sm-12 container mx-aut d-block text-center">
                                        <img src="{{ url_for('static', filename='images/Localidad.jpg') }}" class="rounded mx-auto d-block" alt="">
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="row mtbox">
                    <div class="col-md-12 col-sm-12">
                        <h1 class="text-primary text-center"></h1>
                    </div>

                    <div>
                        
                        
                        
                    </div>

                        
                        
                        

                        <!--
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                            <div class="box1">
                                        <span class="li_heart"></span>
                                        <h3>933</h3>
                      </div>
                                    <p>Accidentalidad</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_cloud"></span>
                                        <h3>48</h3>
                            </div>
                                      <p>Clima</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_stack"></span>
                                        <h3>23</h3>
                            </div>
                                      <p>Registros</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_news"></span>
                                        <h3>50</h3>
                            </div>
                                      <p>Datos Importantes</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                        <span class="li_data"></span>
                                        <h3>OK!</h3>
                            </div>
                                      <p>Registros completos</p>
                        </div>
                        -->

                    </div><!-- /row mt -->

              <!-- **********************************************************************************************************************************************************
              BARRA DERECHA DE NOTOFOCACIONES
              *********************************************************************************************************************************************************** -->

            </div><!--/row -->
        </section>
    </section>
    <!--main content end-->


    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2021 - Jeison Jara - Sebastian Mancera - Universidad Distrital Francisco Jose De Caldas 
            <a href="{{ url_for('accidentalidad.home') }}#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

{% endblock %}